main {
  gap: .5em;
}

.collection {
  background-color: #ffffff;
  box-shadow: rgba(33, 33, 52, 0.1) 0px 1px 4px;
  padding: 32px 24px;
  border-radius: 4px;
  display: flex;
  cursor: pointer; 
  user-select: none;
  gap: 1em;
}

.collection .name {
  font-weight: 600;
}

.collection .quotes {
  font-weight: 400;
  font-size: .9em;
}

.collection button {
  width: 2em;
  height: 2em;
}

.headline {
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
}

.button-group {
  display: flex;
  gap: .5em;
}

.button-group * {
  width: 100%;
}

.headline h1 {
  font-size: inherit;
}

.collections {
  display: flex;
  flex-direction: column;
  gap: .8em;
}