nav {
  height: 3.5em;
  background-color: #ffffff;
  border-bottom: 1px solid rgb(234, 234, 239);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  padding: 1em;
}

.profile {
  background-color: #eef2f5;
  width: 36px;
  height: 36px;
  border-radius: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.logo {
  cursor: pointer;
}