@font-face {
  font-family: 'OpenSans';
  src: url('assets/fonts/Open_Sans/static/OpenSans/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('assets/fonts/Open_Sans/static/OpenSans/OpenSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('assets/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('assets/fonts/Open_Sans/static/OpenSans/OpenSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('assets/fonts/Open_Sans/static/OpenSans/OpenSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('assets/fonts/Open_Sans/static/OpenSans/OpenSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('assets/fonts/Open_Sans/static/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('assets/fonts/Open_Sans/static/OpenSans/OpenSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'icomoon';
  src:  url('assets/fonts/icons/icomoon.eot?dr9vi0');
  src:  url('assets/fonts/icons/icomoon.eot?dr9vi0#iefix') format('embedded-opentype'),
    url('assets/fonts/icons/icomoon.ttf?dr9vi0') format('truetype'),
    url('assets/fonts/icons/icomoon.woff?dr9vi0') format('woff'),
    url('assets/fonts/icons/icomoon.svg?dr9vi0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account_circle:before {
  content: "\e900";
}
.icon-add:before {
  content: "\e901";
}
.icon-bookmark_added:before {
  content: "\e902";
}
.icon-bookmark_border:before {
  content: "\e903";
}
.icon-delete_black:before {
  content: "\e904";
}
.icon-edit:before {
  content: "\e905";
}
.icon-info:before {
  content: "\e906";
}
.icon-logout:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e908";
}
.icon-settings:before {
  content: "\e909";
}
.icon-share:before {
  content: "\e90a";
}
.icon-bookmark_in:before {
  content: "\e90b";
}


/* Genarl Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'OpenSans', sans-serif;
  outline: none;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) all .2s;
}

html, body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: var(--body-background);
  color: var(--body-color);
}

body:not(.scroll) {
  overflow: hidden;
  touch-action: none;
}

main {
  padding: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  gap: .6rem;
}

.spacer {
  flex-grow: 1;
}


.input-container {
  display: flex;
  flex-direction: column;
}

.input-select {
  position: relative;
}

.input-select::after {
  content: "";
  width: 0.8rem;
  height: 0.5rem;
  position: absolute;
  right: .75rem;
  bottom: .75rem;
  background-color: var(--body-color);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

label {
  font-size: .75rem;
  font-weight: 600;
}

input, select, button {
  height: 3rem;
  outline: none;
  background-color: var(--light);
  color: var(--body-color);
  border: none;
  border-radius: .25rem;
  padding: 0 1rem;
  margin: 4px 0 0 0;
  appearance: none;
  font-size: 1rem;
}

.icon {
  padding: 0 0;
  margin: 0 0 0 0;
  border: 0;
  background-color: transparent;
  font-size: 1.5rem;
}

textarea {
  outline: none;
  background-color: var(--light);
  color: var(--body-color);
  border: none;
  border-radius: .25rem;
  padding: .5em 1rem;
  margin: 4px 0 0 0;
  height: 200px;
  font-size: 1rem;
}

input:active,
input:focus,
textarea:active,
textarea:focus,
select:active,
select:focus,
button:active,
button:focus {
  outline: none;
}

input[type="submit"], input[type="button"], button {
  margin-top: 1.1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--body-color);
  border: 1px solid var(--outline);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}

.red {
  background-color: rgb(255, 179, 179);
  border: 1px solid rgb(161, 47, 47) !important;
  color: rgb(161, 47, 47) !important;
}

fieldset {
  padding: 1rem;
}

ul.users {
  display: flex;
  gap: 1rem;
  list-style: none;
}

ul.users li {
  background-color: var(--light);
  padding: .1em 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

fieldset {
  margin-bottom: 1.5rem;
}

/* Success and Error Messages */

#success-message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
}

#success-message h2 {
  font-size: 2rem;
  text-align: center;
}

/* Navbar */

nav {
  height: 3.5rem;
  background-color: var(--light);
  border-bottom: 1px solid var(--light);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.profile {
  background-color: var(--body-color);
  color: var(--body-background);
  width: 36px;
  height: 36px;
  border-radius: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo svg {
  height: 25px;
  width: auto;
  fill: var(--body-color)
}

/* Colleciont Styles */

main.landing {
  gap: .5rem;
}

.collection {
  background-color: var(--light);
  padding: 32px 24px;
  border-radius: .25rem;
  display: flex;
  cursor: pointer; 
  user-select: none;
  gap: 1rem;
  position: relative;
}

.collection .open-settings-button {
  font-size: 1.5rem;
}

.collection:not(:last-child) {
  margin-bottom: .5rem;
}

.collection .name {
  font-weight: 600;
  font-size: .25rem;
}

.collection .quotes {
  font-weight: 400;
  font-size: .9rem;
}

.collection button {
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.headline {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
}

.button-group {
  display: flex;
  gap: .5rem;
}

.button-group * {
  width: 100%;
}

.headline h1 {
  font-size: inherit;
}

.collections {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

details:not(:has(.collection)) {
  display: none;
}

/* Login / Register */

main.auth {
  align-items: center;
  justify-content: center;
}

.auth-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 22rem;
  background-color: var(--body-background);
  border-radius: 5px;
  padding: 1.5rem;
}

.auth-error {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em 2rem;
  background-color: #ebd6e0;
  border: 1px solid #cc87a8;
  color: #9f2f65;
  opacity: 10;
}

.auth-error.hidden {
  opacity: 0;
}

.auth-text {
  font-size: .8rem;
  margin-top: 1rem;
}

.auth-text a {
  color: rgb(52, 152, 219);
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
}

footer a {
  color: var(--body-color);
  text-decoration: none;
  opacity: .5;
}

.impress h1, .impress h2, .impress h3 {
  margin-bottom: .5rem;
}

.impress p {
  margin-bottom: 1rem;
}

.impress ul {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}