@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) all .2s;
}

html, body {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(246, 246, 249);
  color: rgb(50, 50, 77);
}

main {
  padding: 1.5em;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.spacer {
  flex-grow: 1;
}


.input-container {
  display: flex;
  flex-direction: column;
}

label {
  font-size: .75em;
  font-weight: 600;
}

input, select {
  height: 3em;
  outline: none;
  background-color: #ffffff;
  border: 1px solid rgb(220, 220, 228);
  border-radius: 4px;
  padding: 0 1em;
  margin: 4px 0 0 0;
}

textarea {
  outline: none;
  background-color: #ffffff;
  border: 1px solid rgb(220, 220, 228);
  border-radius: 4px;
  padding: .5em 1em;
  margin: 4px 0 0 0;
  height: 200px;
}

input:active, input:focus, textarea:active, textarea:focus, select:active, select:focus {
  outline: #0e54bc solid 2px;
}

input[type="submit"] {
  margin-top: 1.1em;
  cursor: pointer;
}