:root {
  --html-background: rgb(208, 208, 208);
  --body-background: rgb(246, 246, 249);
  --body-color: rgb(50, 50, 77);
  --light: rgb(236, 240, 241);
  --outline: rgb(220, 220, 228);
}
  
  @media (prefers-color-scheme: dark) {
    :root {
      --html-background: rgb(6, 9, 12);
      --body-background: rgb(13, 19, 25);
      --body-color: rgb(189, 195, 199);
      --light: rgb(44, 62, 80);
      --outline: rgb(52, 73, 94);
    }
  }