#random-quote {
  font-size: 1.5rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  padding-bottom: 8rem;
}

.button {
  font-weight: 600;
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer;
}

.button.navigation {
  padding: 1rem;
}

.button.back {
  margin-right: 1rem;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

@media only screen and (min-width: 600px) {
  .navigation {
    justify-content: center;
  }
}

#collection-info {
  color: #000000aa;
  align-items: center;
  font-size: .7em;
}

header{
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-direction: wrap;
  width: 100%;
  padding: .5rem 1rem;
} 

.menu {
  display: flex;
}

.menu button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.modal-container {
  z-index: -10;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s all;
  opacity: 0;
  backdrop-filter: blur(0px);
  background-color: #00000000;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container[visible] {
  z-index: 10;
  opacity: 1;
  backdrop-filter: blur(5px);
  background-color: #00000033;
}

.modal {
  display: flex;
  width: 80%;
  flex-direction: column;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: rgba(33, 33, 52, 0.1) 0px 1px 10px;
}

.modal button:first-child {
  border-bottom: 1px solid #efefef;
}

.modal button {
  width: 100%;
  height: 100px;
  margin: 0;
  border-radius: 0;
  background-color: transparent;
  border: 0;
}

.moderators-menu {
  display: flex;
}

#add-bookmark.hidden, #remove-bookmark.hidden {
  display: none;
}
