#random-quote {
  font-size: 1.5rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.button {
  font-weight: 600;
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer;
}

.button.navigation {
  padding: 1rem;
}

.button.back {
  margin-right: 1rem;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (min-width: 600px) {
  .navigation {
    justify-content: center;
  }
}

#collection-info {
  color: #000000aa;
  display: flex;
  align-items: center;
  font-size: .7em;
}