@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?y46cac');
  src:  url('fonts/icomoon.eot?y46cac#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?y46cac') format('truetype'),
    url('fonts/icomoon.woff?y46cac') format('woff'),
    url('fonts/icomoon.svg?y46cac#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logout:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-plus:before {
  content: "\e902";
}
.icon-shuffle:before {
  content: "\e903";
}
.icon-chevron-left:before {
  content: "\e904";
}
.icon-chevron-right:before {
  content: "\e905";
}
.icon-check:before {
  content: "\e906";
}
.icon-dismiss:before {
  content: "\e907";
}
.icon-bookmark:before {
  content: "\e908";
}
.icon-bookmark-delete:before {
  content: "\e909";
}
.icon-megaphone:before {
  content: "\e90a";
}
.icon-megaphone-mute:before {
  content: "\e90b";
}
.icon-delete:before {
  content: "\e90c";
}
.icon-share:before {
  content: "\e90d";
}
.icon-edit:before {
  content: "\e90e";
}
.icon-context-vertical:before {
  content: "\e90f";
}