@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('./icon-font.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active,
button:-webkit-autofill,
button:-webkit-autofill:hover, 
button:-webkit-autofill:focus, 
button:-webkit-autofill:active {
    -webkit-box-shadow: none !important;
    -webkit-tap-highlight-color: transparent;
    outline:none !important;
}

  
:root {
  --black: #333333;
  --white: #FFFFFF;
  --gray: #F6F5F9;
  --blue-gradient: linear-gradient(180deg, rgba(56, 103, 214, 1) 0%, rgba(69, 211, 242, 1) 100%);
  --green-gradient: linear-gradient(180deg, rgba(28, 182, 100, 1) 0%, rgba(234, 251, 46, 1) 100%);
  --orange-gradient: linear-gradient(180deg, rgba(255, 122, 32, 1) 0%, rgba(249, 194, 112, 1) 100%);
  --pink-gradient: linear-gradient(180deg, rgba(255, 26, 66, 1) 0%, rgba(244, 120, 255, 1) 100%);
  --purple-gradient: linear-gradient(180deg, #3867D6 0%, rgba(213, 39, 206, 0.50) 100%);
  --teal-gradient: linear-gradient(180deg, #09A79F 0%, rgba(84, 172, 222, 0.50) 100%);


  --blue-gradient-90: linear-gradient(90deg, rgba(56, 103, 214, 1) 0%, rgba(69, 211, 242, 1) 100%);
  --green-gradient-90: linear-gradient(90deg, rgba(28, 182, 100, 1) 0%, rgba(234, 251, 46, 1) 100%);
  --orange-gradient-90: linear-gradient(90deg, rgba(255, 122, 32, 1) 0%, rgba(249, 194, 112, 1) 100%);
  --pink-gradient-90: linear-gradient(90deg, rgba(255, 26, 66, 1) 0%, rgba(244, 120, 255, 1) 100%);
  --purple-gradient-90: linear-gradient(90deg, #3867D6 0%, rgba(213, 39, 206, 0.50) 100%);
  --teal-gradient-90: linear-gradient(90deg, #09A79F 0%, rgba(84, 172, 222, 0.50) 100%);
  
  --lato: 'Lato', sans-serif;
  --shadow: 0px 4px 9px 0px rgba(124, 21, 255, 0.05);
  
  --app-padding-lr: 24px;
  --background: var(--gray);
  --foreground: var(--white);
  --text-primary: var(--black);
  --text-muted: #c7c7d2;
  --radius: 12px;

  font-family: var(--lato);
  background-color: var(--background);
  color: var(--text-primary);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

html, body {
  touch-action: none;
}

.colored-text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.blue-gradient {
  background-image: var(--blue-gradient);
}

.green-gradient {
  background-image: var(--green-gradient);
}

.orange-gradient {
  background-image: var(--orange-gradient);
}

.pink-gradient {
  background-image: var(--pink-gradient);
}

.purple-gradient {
  background-image: var(--purple-gradient);
}

.teal-gradient {
  background-image: var(--teal-gradient);
}

button {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  &:active {
    transform: scale(0.9);
  }
}

button.default {
  width: 100%;
  background-color: var(--foreground);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  color: var(--text-primary);
  font-size: 1rem;
  line-height: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;

  &.grow {
    flex-grow: 1;
  }

  &.small {
    min-width: 3rem;;
    min-height: 3rem;
    width: auto;
    flex-grow: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;

  &:active {
    color: inherit;
  }
}

input {
  all: unset;
}

input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"] {
  all: unset;
  box-sizing: border-box;
  padding: 1rem 1rem ;
  background-color: var(--foreground, #FFFFFF);
  border-radius: .75rem;
  border-radius: .75rem;
  box-shadow: 0 0 .25rem 0 rgba(41, 69, 138, 0.25) inset;
  text-align: left;
}

input:not([type="radio"], [type="checkbox"]):read-only, button:disabled {
  user-select: none;
  opacity: .4;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
  flex-grow: 1;
  overflow-x: scroll;
  align-items: center;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  20%, 60% {
    transform: translateX(-.5rem);
  }
  40%, 80% {
    transform: translateX(.5rem);
  }
}

.shake {
  animation: shake 300ms ease;
}

.opacity-05 {
  opacity: .5;
}

/* Form */

div.form-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
  flex-grow: 1;
  overflow-x: scroll;
  height: 100%;
  align-items: center;
}

dialog::backdrop {
  background-color: var(--foreground);
  backdrop-filter: blur(10px);
  opacity: 0.75;
  width: 100vw;
  height: 100vh;
}